MixologistGui/debug/*
MixologistGui/release/*
MixologistGui/temp/*
MixologistGui/Mixologist.app/*
MixologistGui/Mixologist
MixologistLib/temp/*
MixologistLib/qtc-gdbmacros/*
ThirdParty/src/miniupnpc-1.6/*
ThirdParty/src/openssl-1.0.0a/*
ThirdParty/lib/*.a
*.Debug
*.Release
*.user
*.a
*~
*.DS_Store
Makefile*
moc*
