<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>mac.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Mixologist</string>
        <key>CFBundleURLTypes</key>
        <array>
         <dict>
          <key>CFBundleURLName</key>
          <string>Mixology</string>
          <key>CFBundleURLSchemes</key>
          <array>
           <string>mixology</string>
          </array>
         </dict>
        </array>
        <key>NSAppleScriptEnabled</key>
        <true/>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string></dict>
</plist>
